<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Корзина товаров</title>
    <script language="JavaScript">
        setInterval(() => {
            var td = document.getElementById('exchange_rates');
            fetch('http://localhost:8084/api/exchange/rates')
                .then(response => response.json())
                .then(json => {
                    var table = '<table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">';
                    table += '<tr><th colspan="3">Курсы валют по отношению к рублю</th></tr>';
                    table += '<tr><th>Валюта</th><th>Обозначение</th><th>Курс</th></tr>';
                    json.forEach(rate => {
                        table += '<tr>';
                        table += '<td>' + rate.fromCurrencyName + '</td>';
                        table += '<td>' + rate.toCurrencyName + '</td>';
                        table += '<td>' + rate.rate + '</td>';
                        table += '</tr>';
                    });
                    table += '</table>';
                    td.innerHTML = table;
                })
                .catch(error => td.innerHTML = 'Ошибка при получении данных курсов валют');
        }, 1000);
    </script>
</head>

<body>
<a href="/signup" style="float:right;">
    <b>РЕГИСТРАЦИЯ &plus;</b>
</a>
<br>
<a href="/logout" style="float:right;">
    <b>ВЫЙТИ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr><td style="padding:2px;">
        <form method="post" th:action="${'/user/editPassword'}">
        <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
            <tr>
                <td style="font-weight:bold;">Логин</td>
                <td colspan="2" th:text="${user.login()}"/>
            </tr>
            <tr>
                <td style="font-weight:bold;">Изменить пароль</td>
                <td>
                    <p style="color:red;" th:if="${passwordErrors!=null}" th:each="passwordError : ${passwordErrors}" th:text="${passwordError}"/>
                    <p>
                        Пароль: <input name="password" type="password" required/>
                    </p>
                    <p>
                        Повторите пароль: <input name="confirmPassword" type="password" required/>
                    </p>
                </td>
                <td style="text-align:right">
                    <button>Изменить пароль</button>
                </td>
            </tr>
        </table>
        </form>
    </td>
    <tr><td style="padding:2px;">
        <form method="post" th:action="${'/user/editAccounts'}">
        <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
            <tr th:if="${userAccountsErrors!=null}" th:each="userAccountsError : ${userAccountsErrors}">
                <td style="color:red;" th:text="${userAccountsError}"/>
            </tr>
            <tr>
                <td style="font-weight:bold;">Фамилия Имя</td>
                <td th:text="${user.name()}"/>
            </tr>
            <tr>
                <td style="font-weight:bold;">Дата рождения</td>
                <td th:text="${user.birthdate()}"/>
            </tr>
            <tr th:each="account : ${user.accounts()}">
                <td style="font-weight:bold;" th:text="${account.currencyName()}"/>
                <td th:text="${account.balance() + ' ' + account.currencyName()}"/>
                <td style="text-align:right">
                    <input name="account" type="checkbox" th:value="${account.deleted}"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right" colspan="3">
                    <button>Сохранить изменения</button>
                </td>
            </tr>
        </table>
        </form>
    </td></tr>
    <tr><td style="padding:2px;">
        <form method="post" th:action="${'/user/cash'}">
            <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
                <tr th:if="${cashErrors!=null}" th:each="cashError : ${cashErrors}">
                    <td style="color:red;" th:text="${cashError}"/>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Наличные</td>
                    <td>
                        Валюта
                        <select name="currencyCode">
                            <option th:each="eachCurrency : ${currencies}" th:value="${eachCurrency.getCode()}" th:text="${eachCurrency.getName()}"/>
                        </select>
                    </td>
                    <td>
                        <input name="amount" type="number" style="width:100%" required/>
                    </td>
                    <td>
                    <td style="text-align:right">
                        <button name="action" value="PUT">Положить</button>
                        <button name="action" value="GET">Снять</button>
                    </td>
                </tr>
            </table>
        </form>
    </td></tr>
    <tr><td style="padding:2px;">
        <form method="post" th:action="${'/user/innerTransfer'}">
            <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
                <tr th:if="${transferErrors!=null}" th:each="transferError : ${transferErrors}">
                    <td style="color:red;" th:text="${transferError}"/>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Перевод себе</td>
                    <td>
                        Со счета
                        <select name="fromCurrencyCode">
                            <option th:each="eachCurrency : ${currencies}" th:value="${eachCurrency.getCode()}" th:text="${eachCurrency.getName()}"/>
                        </select>
                    </td>
                    <td>
                        На счет
                        <select name="toCurrencyCode">
                            <option th:each="eachCurrency : ${currencies}" th:value="${eachCurrency.getCode()}" th:text="${eachCurrency.getName()}"/>
                        </select>
                    </td>
                    <td>
                        <input name="amount" type="number" style="width:100%" required/>
                    </td>
                    <td style="text-align:right">
                        <input hidden name="fromLogin" th:value="${user.login()}"/>
                        <button>Перевести</button>
                    </td>
                </tr>
            </table>
        </form>
    </td></tr>
    <tr><td style="padding:2px;">
        <form method="post" th:action="${'/user/transfer'}">
            <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
                <tr th:if="${transferOtherErrors!=null}" th:each="transferOtherError : ${transferOtherErrors}">
                    <td style="color:red;" th:text="${transferOtherError}"/>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Перевод другому</td>
                    <td>
                        Со счета
                        <select name="fromCurrencyCode">
                            <option th:each="eachCurrency : ${currencies}" th:value="${eachCurrency.getCode()}" th:text="${eachCurrency.getName()}"/>
                        </select>
                    </td>
                    <td>
                        На счет
                        <select name="toCurrencyCode">
                            <option th:each="eachCurrency : ${currencies}" th:value="${eachCurrency.getCode()}" th:text="${eachCurrency.getName()}"/>
                        </select>
                    </td>
                    <td>
                        <input name="amount" type="number" required/>
                    </td>
                    <td>
                        Кому
                        <select name="toLogin">
                            <option th:each="user : ${users}" th:value="${user.login()}" th:text="${user.name()}"/>
                        </select>
                    </td>
                    <td style="text-align:right">
                        <button>Перевести</button>
                    </td>
                </tr>
            </table>
        </form>
    </td></tr>
    <tr><td style="padding:2px;text-align: center;" id="exchange_rates">
    </td></tr>
</table>
</body>

</html>